services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5005:5005"
    env_file:
      - .env
    environment:
      - Database__PSqlConnectionString=Host=db;Port=5432;Database=incident_tracker;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    restart: no

  db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped

volumes:
  pgdata:
