name: cd-server

on:
  push:
    branches: [release/*]
    paths:
      - 'server/**'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Server to Fly.io
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly.io
        working-directory: server
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
