name: ci-server

permissions:
  contents: read

on:
  push:
    branches: [main, develop]
    paths:
      - 'server/**'
  pull_request:
    branches: [main, develop]

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      server: ${{ steps.filter.outputs.server }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            server:
              - 'server/**'

  server-build:
    name: Server Build
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.server == 'true'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        working-directory: server
        run: dotnet restore

      - name: Build
        working-directory: server
        run: dotnet build --configuration Release --no-restore

  server-test:
    name: Server Test
    runs-on: ubuntu-latest
    needs: [changes, server-build]
    if: needs.changes.outputs.server == 'true'

    #services:
    #  docker:
    #    image: docker:dind

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      #- name: Ensure Docker is running
      #  run: docker ps

      - name: Restore
        working-directory: server
        run: dotnet restore

      - name: Run Tests
        working-directory: server
        run: dotnet test -c Release

        # add coverage and mutant testing here

  ci-server-status:
    name: CI Server Status
    runs-on: ubuntu-latest
    needs: [changes, server-build, server-test]
    if: always()
    steps:
      - name: Check status
        run: |
          if [[ "${{ needs.changes.outputs.server }}" == "false" ]]; then
            echo "No server changes - skipping"
            exit 0
          fi
          if [[ "${{ needs.server-build.result }}" == "failure" || "${{ needs.server-test.result }}" == "failure" ]]; then
            echo "CI failed"
            exit 1
          fi
          echo "CI passed"
